# TS config file
tsconfig.json

# Docker Compose files
docker-compose*.yml

# All source files
*.ts
*.tsx
*.js
*.jsx

# The temporary folder
temp/

# Built ts files
dist/

# Dependency directories
node_modules/
