# MacOS
.DS_Store

# The temporary folder containing uploads (e.g., projects, smart contracts, etc.)
temp/

# Built ts files
dist/

# Dependency directories
node_modules/

# dotenv environment variable files
.env*
